{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{# <div id="announcement-banner" class="w-full mx-auto p-2 bg-dark-blue">
			<div class="w-11/12 mx-auto flex justify-center bg-dark-blue">
				<p class="text-white text-lg text-center">In honor of Independence Day, GWS Tool Group will be closed Thursday, July 4th and Friday, July 5th.</p>
			</div>
		</div> #}
		{{ function('wp_body_open') }}
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header px-4 md:px-10 py-4 header-transparent">
			{% block header %}
				<div class="wrapper">

					<div class="top-header flex justify-between">
						<h1 class="hdr-logo" role="banner">
							<a class="hdr-logo-link" href="{{site.url}}" rel="home"><img src="/wp-content/uploads/2023/12/GWS-Logo-White.png" alt=""></a>
						</h1>
						<div class="md:flex items-center hidden">
							<div class="flex items-center">
								<button class="btn dark-blue me-2 "><a href="/tool-filter">Tool Filter</a></button>
								{% if user %}
									<button class="btn light-blue me-2"><a href="/dashboard">My Dashboard</a></button>
									<button class="btn black me-6"><a href="/wp-login.php?action=logout">Log Out</a></button>
								{% else %}
									<button class="btn light-blue me-6"><a href="/sign-in">Login</a></button>
								{% endif %}
								{{ function('do_shortcode', '[searchwp_form id=1]') }}
								{# {{ function('get_search_form') }} #}
								{# <i class="fa-solid fa-magnifying-glass menu-search"></i> #}
							</div>
						</div>
					</div>

					<div class="bottom-header py-6 flex justify-between">
						<div class="flex h-full">
							<button class="btn dark-blue me-2 "><a href="/rapid-quote">Rapid Quote</a></button>
							<button class="btn light-blue me-2 hidden md:block"><a href="/custom-quote">Custom Quote</a></button>
							<div class="ask-gws-btn-div relative">
								<button class="btn black me-2 ask-gws-btn">Ask GWS</button>
								<div id="ask-gws-popover" class="animate__animated flex flex-col gap-y-3 hidden">
									{# <p class="ask-close">x</p> #}
									<p>How Can We Help?</p>
									<div class="flex flex-col gap-y-2">
										<a href="/ask-an-engineer" class="btn dark-blue">Ask an Engineer</a>
										<a href="/ask-customer-service" class="btn light-blue">Customer Service</a>
									</div>

								</div>
							</div>
							
						</div>
						{# Integrate Max Mega Menu with Theme if plugin is delete the menu will need a lot of work #}
						<nav id="nav-main" class="nav-main" role="navigation">
							{{ my_menu|raw }}
						</nav>
						{# <nav id="nav-main" class="nav-main flex items-center" role="navigation">
							{{ max_mega_menu|raw }}
						</nav> #}

						{# <nav id="nav-main" class="nav-main flex items-center" role="navigation">
							{% include "menu.twig" with {'items': menu.get_items} %}
						</nav><!-- #nav --> #}
						{# {{ max_mega_menu|raw }} #}


					</div>
					
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
		

	</body>
	
</html>
