{% extends "base.twig" %}
{% set page_title = "Replacement Part Notice: " ~ replacement_part %}
{% block content %}
{# {% include "page-header.twig" %} #}
<section class="container mx-auto flex flex-col md:flex-row justify-between items-center pt-96 pb-52">
    <div class="md:w-5/12 flex flex-col gap-y-4">
        <h1 class="text-4xl font-semibold uppercase text-pale-blue">Replacement Part Notice</h1>
        <h3 class="text-xl">The part number you searched for - <span class="text-pale-blue">{{retired_part}}</span> - is no longer available as a standard tool in our catalog. Please refer to part <span class="text-pale-blue">{{replacement_part}}</span> as the current standard replacement for your tool.</h3>
        {# <h1>Your search: {{retired_part}}</h1>
        <h1>Replacement part: {{replacement_part}}</h1> #}
        <div class="mt-4">
            <a href="/product?part={{replacement_part}}" class="btn light-blue w-full">View New Product Page</a>
        </div>
        
    </div>
    <div class="md:6/12 mx-auto justify-center items-center">
		<img src="/wp-content/uploads/2024/02/404_image.jpg" alt="">
	</div>
    
</section>
{% endblock %}