{% extends 'base.twig' %}
{% set page_title = "EDP #" ~ product_data.part ~ " | GWS Tool Group" %}
{% block content %}
<section id="product-header" class="xl:min-h-screen flex flex-col justify-center bg-diagonal px-4 md:px-8">

    <div class="container flex flex-col mx-auto">

        <div id="product-data" class="flex flex-col lg:flex-row justify-between lg:items-end mb-10 lg:mb-24">
            <div class="w-full lg:w-7/12 flex flex-col">
                <h3 class="mb-2 font-bold">{{product_data.brand}}</h3>
                {% if product_data.family == 'Armory' %}
                    <p class="mb-5"><a href="/series-{{product_data.series}}">{{product_data.series}}</a></p>
                    <h1 class="text-3xl sm:text-4xl md:text-5xl font-black uppercase text-pale-blue mb-2">{{product_data.part}} | {{product_data.series}}</h1>
                {% else %}
                    <p class="mb-5"><a href="/series-{{product_data.series}}">Series {{product_data.series}}</a></p>
                    <h1 class="text-3xl sm:text-4xl md:text-5xl font-black uppercase text-pale-blue mb-2">{{product_data.part}} | Series {{product_data.series}}</h1>
                {% endif %}
                
                
                <p class="text-xl">{{product_data.subtitle}}</p>
            </div>
            <div class="w-10/12 md:w-9/12 lg:w-4/12 xl:w-3/12 mt-6">
                <img src="/wp-content/themes/gws-web/images/brands/brand_{{product_data.family|lower}}_white.png" alt="">
            </div>
        </div>

        <div id="product-attributes" class="flex flex-col lg:flex-row w-full justify-between">

            <div id="tool-images-container" class="w-full lg:w-5/12 xl:w-4/12 flex lg:block justify-center md:px-4 mb-10">
                <div class="gallery-container w-full">
                    {% if product_data.family == 'Armory' %}
                        <img class="mx-auto series-image" src="/wp-content/themes/gws-web/images/catolog_images/{{product_data.series|lower|replace({' ': '_'})}}_catalog.png" alt="{{series_data.series}} tool image">
                    {% else %}
                        <img class="mx-auto series-image" src="/wp-content/themes/gws-web/images/catolog_images/{{ product_data.series }}_catalog.png" alt="{{series_data.series}} tool image">
                    {% endif %}
                    
                </div>
            </div>

            <div id="tool-data-container" class="w-full lg:w-7/12">
                <div class="flex flex-col gap-y-6 md:flex-row md:flex-wrap lg:flex-between gap-x-3">
                    <div class="md:w-6/12 xl:w-5/12">
                        <h3 class="text-lg font-bold text-pale-blue">Attributes</h3>
                        <hr style="color: var(--gray);">
                        <div id="attributes-list" class="{{product_data.tool_type}} flex flex-col gap-y-2 pt-6 ps-2">
                            <p><span class="font-bold">Price</span>: ${{ product_data.LIST_PRICE }}</p>
                            {% if show_extra_stock_content %}
                                <!-- Extra stock content -->
                                <div class="stock">
                                    <p class="mb-0"><span class="font-bold product-stock mb-2">Stock</span>: {{ product_data.QTY_ON_HAND|number_format(0) }}</p>
                                    <div class="flex gap-x-2">
                                        <p class="text-sm"><span class="font-medium">CA</span>: {{ product_data.QTY_ON_HAND|number_format(0) }}</p>
                                        <p class="text-sm"><span class="font-medium">IL</span>: {{ product_data.DURRIE_QTY_ON_HAND|number_format(0) }}</p>
                                    </div>
                                </div>

                            {% else %}
                                <p><span class="font-bold product-stock">Stock</span>: {{ product_data.QTY_ON_HAND|number_format(0) }}</p>
                            {% endif %}
                            {% set dataFields = product_data.data_fields|split(',') %}
                            {% for field in dataFields  %}
                                <p><span class="font-bold {{ field }}">{{ field }}</span>: {{ attribute(product_data, field)|default('-') ?: '-' }}</p>
                            {% endfor %}
                            {% if product_data.speed_feed_page is not null %}
                                <p><a class="text-pale-blue underline uppercase"  href="/wp-content/themes/gws-web/speed_and_feed/{{product_data.series}}_sf.pdf" target="_blank">View Speed and Feed</a></p>
                            {% endif %}
                        </div>
                    </div>

                    {# Applications #}
                    {% set applications = product_data.app_icons|split(', ') %}
                    {% if applications| length > 1 %}  
                    <div class="w-full md:w-5/12 xl:w-3/12">
                        <h3 class="text-lg font-bold text-pale-blue">Applications</h3>
                        <hr style="color: var(--gray);">
                        {# Split the context variable into an array #}
                        
                        <div class="icons flex flex-wrap py-4 px-2 gap-5">
                            {# Display each value in the list #}
                                {% for value in applications if value %}
                                    <img class="w-3/12" src="/wp-content/themes/gws-web/images/icons/{{ value }}_icon.png" alt="">
                                {% endfor %}
                        </div>
                    </div>
                    {% endif %}

                    {# Features #}
                    {% set features = product_data.feat_icons|split(', ') %}
                    {% if features| length > 1 %}
                    <div class="w-full xl:w-3/12">
                        <h3 class="text-lg font-bold text-pale-blue">Features</h3>
                        <hr style="color: var(--gray);">
                        
                        <div class="icons flex flex-wrap gap-5 py-4 px-2">
                            {# Display each value in the list #}
                            {% if features is not empty %}
                                {% for value in features if value%}
                                    <img class="w-3/12" src="/wp-content/themes/gws-web/images/icons/{{ value }}_icon.png" alt="">
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}


                {# Work Materials #}
                {# Split the context variable into an object #}
                    {% set materials = {
                        'p1': product_data.p1,
                        'p2': product_data.p2,
                        'p3': product_data.p3,
                        'm1': product_data.m1,
                        'm2': product_data.m2,
                        'k1': product_data.k1,
                        'k2': product_data.k2,
                        'n1': product_data.n1,
                        'n2': product_data.n2,
                        's1': product_data.s1,
                        's2': product_data.s2,
                        'h1': product_data.h1,
                        'h2': product_data.h2
                    } %}
                {% set non_null_materials = materials|filter(item => item is not null) %}
                {% if non_null_materials|length > 1 %}
                <div class="w-full mt-10">
                    <h3 class="text-lg font-bold text-pale-blue">Work Materials</h3>
                    <hr style="color: var(--gray);">
                    
                    <div class="icons flex flex-wrap py-4 gap-5">
                        {# Display each value in the list #}
                        {% for key, item in materials %}
                            {% if item is not null %}
                                <img class="w-3/12" src="/wp-content/themes/gws-web/images/icons/{{ key|upper }}_icon.png" alt="">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

</section>
{% if product_data.family != 'Armory' %}
<section id="series-data-series" class="px-4 py-20">
    <div class="container mx-auto">
        <h2 class="text-5xl md:text-6xl uppercase font-black text-light-blue mb-20">Series Data</h2>
        <div id="series-data-table">
            {% include 'product-table.twig' %} 
        </div>
    </div>
</section>
{% endif %}
<script src="/wp-content/themes/gws-web/product-helpers.js" defer></script>
{% endblock %}
