{% extends "base.twig" %}
{% block content %}
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js" defer></script>
<script src="/wp-content/themes/gws-web/js/speed-feed.js" defer></script>
<section class="page-header bg-black">
    <div class="container mx-auto flex flex-col justify-center md:ps-10 hero-background animate__animated animate__fadeInDown" style="background: url('{{post.thumbnail}}'); background-size: cover; background-position: center;">
        <h1 class="text-4xl md:text-7xl font-black text-white uppercase">{{post.title}}</h1>
    </div>
</section>

<section class="py-48 container mx-auto px-4">
    <div class="flex flex-wrap md:flex-row gap-x-8 mb-10 justify-center md:justify-start tool-type-filters filter-buttons category-filters">

        <button class="filter-btn" data-filter="all">All</button>
        
        <button class="filter-btn" data-filter="milling">Milling</button>
        <button class="filter-btn" data-filter="holemaking">Holemaking</button>
        <button class="filter-btn" data-filter="specialty">Specialty</button>
        <div class="flex flex-col md:flex-row gap-4 md:gap-2 mb-3 justify-center w-full md:w-auto">
            <input
            id="search-input-series"
            type="search" 
            placeholder="Search by series..." 
            class="w-full md:w-auto p-1 mb-4 md:mb-0 rounded text bg-transparent placeholder-white text-white border border-white"
            disabled>
            <input
            id="search-input-part"
            type="search" 
            placeholder="Search by part..." 
            class="w-full md:w-auto p-1 mb-4 md:mb-0 rounded text bg-transparent placeholder-white text-white border border-white"
            disabled>
        </div>
    </div>
    <div id="series-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 tiles-grid">
    {% for series in series_list %}
        <div class="grid-item {{ series.tool_type|lower }} px-4 h-full" data-series="{{ series.series }}">
            <a href="/wp-content/themes/gws-web/speed_and_feed/{{series.series}}_sf.pdf" class="flex flex-col justify-between bg-white rounded h-full p-4 hvr-float">
                <div class="flex flex-col justify-between h-full">
                    {# <img src="/wp-content/themes/gws-web/images/tile_images/{{series.series}}_tile.png" alt="" class="max-h-[100px]"> #}
                    <div class="flex flex-col justify-center pe-4">
                        <p class="text-dark-blue font-bold underline mb-0 seriesName">Series {{series.series}} {{series.family}}</p>
                        <p class="text-black text-sm leading-normal">{{series.subtitle|title}}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    <div id="no-series-message" class="hidden w-full text-center text-white font-semibold py-4 text-lg">
        No series found
    </div>
    </div>

</section>




{% endblock content %}