{% extends "base.twig" %}
{% block content %}

<section id="user-dashboard" class="container mx-auto px-4">
        <div id="profile-news" class="flex flex-col lg:flex-row gap-y-8 lg:gap-y-0 justify-between lg:items-stretch">
        <div id="user-profile" class="flex flex-col w-full lg:w-3/12">
            <div class="flex flex-col flex-grow p-8 h-full">
                <p class="text-sm uppercase text-pale-blue font-bold">Profile</p>
                <img class="company-img pt-8 pb-5" src="/wp-content/uploads/2024/01/GWS-Logo-White-Small-Small.png" alt="">
                <p class="text-xl text-white">Hello,</p>
                <p class="text-2xl font-semibold">{{user.display_name}}</p>
                <div id="company-info" class="py-5">
                
                
                    {% if userRole == 't1' %}
                    {% set userRole = '55%' %}
                    {% elseif userRole == 't2' %}
                    {% set userRole = '52.5%' %}
                    {% elseif userRole == 't3' %}
                    {% set userRole = '50%' %}
                    {% elseif userRole == '57_5' %}
                    {% set userRole = '57.5%' %}
                
                    {% elseif userRole == 'sales' %}
                    {% set userRole = 'Sales Team' %}
                    {% elseif userRole == 'administrator' %}
                    {% set userRole = 'Administrator' %}
                    {% else %}
                    {% set userRole = 'None' %}
                    {% endif %}
                    

                    {# <p><span class="text-pale-blue font-bold">Company:</span> {{user.meta('user_company')}}</p> #}
                    {% if userRole == '55%' or userRole == '52.5%' or userRole == '50%' or userRole == '57.5%' %}
                        <p><span class="text-pale-blue font-semibold">Distributor Discount: </span>{{userRole}}</p>
                    {% else %}
                        <p><span class="text-pale-blue font-semibold">Account Type: </span>{{userRole}}</p>
                    {% endif %}
                    
                    
                    {# <p>{{ new_tier }}</p> #}
                </div>
                <!-- User update section commented out -->
            </div>
        </div>
        <div id="dashboard-news" class="flex flex-col w-full lg:w-8/12">
            <div class="flex flex-col p-8 h-full">
                <div class="flex justify-between">
                    <p class="text-sm uppercase text-pale-blue font-bold">News</p>
                    <div>
                        {% if userRole == '55%' %}
                            <button class="btn light-blue"><a href="/docs/pricing/GWS_PRICE_LIST_55_JAN_01_2026.xlsx">Price List 06/20/24</a></button>
                        {% elseif userRole == '52.5%' %}
                            <button class="btn light-blue"><a href="/docs/pricing/GWS_PRICE_LIST_52_5_JAN_01_2026.xlsx">Price List 06/20/24</a></button>
                        {% elseif userRole == '50%' %}
                            <button class="btn light-blue"><a href="/docs/pricing/GWS_PRICE_LIST_50_JAN_01_2026.xlsx">Price List 06/20/24</a></button>     
                        {% elseif userRole == '57.5%' %}
                            <button class="btn light-blue"><a href="/docs/pricing/GWS_PRICE_LIST_57_5_JAN_01_2026.xlsx">Price List 08/05/24</a></button>     
                        {% else %}
                            {# <button class="btn light-blue"><a href="/docs/pricing/GWS_PRICE_LIST_50_2024.xlsx">New Price List - May 2024 Test</a></button>  #}
                        {% endif %}
                        {# <button><a href="#"></a></button> #}
                    </div>
                </div>
                
                <div class="flex flex-col gap-y-6 md:flex-row justify-between mt-8 gap-x-4">
                    {% for item in post.meta('dashboard_news') %}
                        {% if loop.index == 1 %}
                            {% if userRole == '55%' %}
                                <a href="/docs/pricing/GWS_PRICE_LIST_55_JAN_01_2026.xlsx"><img class="dashboard-news-img" src="{{item.news_image.url}}" alt=""></a>
                            {% elseif userRole == '52.5%' %}
                                <a href="/docs/pricing/GWS_PRICE_LIST_52_5_JAN_01_2026.xlsx"><img class="dashboard-news-img" src="{{item.news_image.url}}" alt=""></a>
                            {% elseif userRole == '50%' %}
                                <a href="/docs/pricing/GWS_PRICE_LIST_50_JAN_01_2026.xlsx"><img class="dashboard-news-img" src="{{item.news_image.url}}" alt=""></a>     
                            {% elseif userRole == '57.5%' %}
                                <a href="/docs/pricing/GWS_PRICE_LIST_57_5_JAN_01_2026.xlsx"><img class="dashboard-news-img" src="{{item.news_image.url}}" alt=""></a>     
                            {% else %}
                                <a href="/docs/pricing/GWS_PRICE_LIST_JAN_01_2026.xlsx"><img class="dashboard-news-img" src="{{item.news_image.url}}" alt=""></a>
                            {% endif %}
                        {% else %}
                            <a href="{{item.news_link}}"><img class="dashboard-news-img" src="{{item.news_image.url}}" alt=""></a>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
        </div>
   

    <div class="flex flex-col lg:flex-row gap-y-6 justify-between mt-8 gap-x-4">
        <div id="rapid-quote-dash" class="w-full lg:w-6/12 box-shadow h-52 flex flex-col justify-end ps-8 pb-8">
            <h3 class="text-4xl font-black uppercase">Rapid Quote</h3>
            <div><button class="btn dark-blue"><a href="/cart">Start Your Quote</a></button></div>
        </div>
        <div id="tool-filter-dash" class="w-full lg:w-6/12 box-shadow h-52 flex flex-col justify-end ps-8 pb-8">
            <h3 class="text-4xl font-black uppercase">Tool Filter</h3>
            {# <div>
            <button class="btn dark-blue"><a href="/tool-filter">Search Parts</a></button>
            </div>   #}
            <div id="tool-filter-start" class="fit-content">
                    <div class="inline-flex items-center gap-3">
                        <select id="tool-filter-select" class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            <option selected>What type of tool do you need?</option>
                            <option value="/products/milling">Milling</option>
                            <option value="/products/holemaking">Holemaking</option>
                            <option value="/products/specialty">Specialty</option>
                            <option value="/products/threading">Threading</option>
                            <option value="/products/inserts">Inserts</option>
                        </select>
                        
                        <!-- Loading spinner -->
                        <div id="tool-filter-spinner" class="hidden">
                            <svg class="animate-spin h-6 w-6 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        {# <img class="w-6/12 box-shadow" src="/wp-content/uploads/2024/01/RQ-dashboard.png" alt="">
        <img class="w-6/12 box-shadow" src="/wp-content/uploads/2024/01/RQ-Tool.png" alt=""> #}
    </div>

    {# <div class="mt-8">
        <p class="text-sm uppercase text-pale-blue font-bold">Featured Series</p>
        <div class="mt-8 gap-x-4">
            {% include 'series-tiles.twig' with {'series_list': series_list} %}
        </div>
    </div> #}

    <div class="mt-10 flex flex-col gap-y-6 lg:flex-row justify-between">
        <div class="flex flex-col w-full">
            <div id="quick-links" class="flex flex-col flex-grow p-8">
                <p class="text-sm uppercase text-pale-blue font-bold">Quick Links</p>
                {% if userRole == 'Administrator' or userRole == 'Sales Team' %}
                    <div class="flex flex-col lg:flex-row gap-x-4 mt-8">
                        <div class="gap-y-1 flex flex-col mb-4">
                            <p class="font-bold text-pale-blue underline text-lg">Distributor Price Lists - 01/01/26</p>
                            <a class="ps-2 text-white mb-0" href="/docs/pricing/GWS_PRICE_LIST_55_JAN_01_2026.xlsx">Price List - Tier 1 - 55%</a>
                            <a class="ps-2 text-white" href="/docs/pricing/GWS_PRICE_LIST_52_5_JAN_01_2026.xlsx">Price List - Tier 2 - 52.5%</a>
                            <a class="ps-2 text-white" href="/docs/pricing/GWS_PRICE_LIST_50_JAN_01_2026.xlsx">Price List - Tier 3 - 50%</a>
                            <a class="ps-2 text-white" href="/docs/pricing/GWS_PRICE_LIST_57_5_JAN_01_2026.xlsx">Price List - MSC Industial - 57.5%</a>
                            <a class="ps-2 text-white" href="/docs/pricing/GWS_PRICE_LIST_DIRECT_AUG_01_2025.xlsx">Price List - Direct - 30%</a>
                            <a class="ps-2 text-white" href="/docs/pricing/GWS_PRICE_LIST_JAN_01_2026.xlsx">GWS List Price</a>
                        </div>
                        <div class="gap-y-1 flex flex-col mb-4">
                            <p class="font-bold text-pale-blue underline text-lg">Employee Resources</p>
                            <a class="text-white" href="https://sandvik.sharepoint.com/teams/gwssalessupport/" target="_blank">Sales Support Hub</a>
                            <a class="text-white" href="https://crm.gws.tools/SlxClient/Login.aspx">Infor CRM</a>
                            {# <a class="text-white" href="https://gwstoolgroup.retool.com/apps/0c5528be-7b42-11ee-aec5-f3623936498f/*GWS%20Sales%20Dashboard*">GWS Sales Dashboard</a> #}
                            <a class="text-white" href="https://access.paylocity.com/">Paylocity</a>
                            {# <a class="text-white" href="https://gwstoolgroup.atlassian.net/servicedesk/customer/portal/3">Submit an IT Ticket</a> #}
                            <a class="text-white" href="https://gwstoolgroup.itemorder.com/shop/home/">Swag Store</a>
                            <a class="text-white" href="https://expense.certify.com/Login.aspx">Certify</a>
                            <a class="text-white" href="/website-suggestions/">Website Suggestions</a>
                        </div>

                    </div>
                {% else %}
                    <div class="flex flex-col gap-y-2 mt-8">
                        {% if userRole == '55%' %}
                            <a class="text-white" href="/docs/pricing/GWS_PRICE_LIST_55_JAN_01_2026.xlsx">Price List</a>
                        {% elseif userRole == '52.5%' %}
                            <a class="text-white" href="/docs/pricing/GWS_PRICE_LIST_52_5_JAN_01_2026.xlsx">Price List</a>
                        {% elseif userRole == '50%' %}
                            <a class="text-white" href="/docs/pricing/GWS_PRICE_LIST_50_JAN_01_2026.xlsx">Price List</a>     
                        {% elseif userRole == '57.5%' %}
                            <a class="text-white" href="/docs/pricing/GWS_PRICE_LIST_57_5_JAN_01_2026.xlsx">Price List</a>     
                        {% else %}
                            {# <button class="btn light-blue"><a href="/docs/pricing/GWS_PRICE_LIST_50_2024.xlsx">New Price List - May 2024 Test</a></button>  #}
                        {% endif %}


                        <a class="text-white" href="/wp-content/uploads/2022/11/gws-code-of-conduct-business-partner-en-11-2022.pdf">Code of Conduct</a>
                        <a class="text-white" href="mailto:sales@gwstoolgroup.com">Email Sales Team</a>
                        <a class="text-white" href="tel:18774978665">Call GWS</a>
                        <a class="text-white" href="/ask-customer-service">Ask Customer Service</a>
                        <a class="text-white" href="/ask-an-engineer">Ask An Engineer</a>
                    </div>
                {% endif %}
                
                

            </div>
        </div>
        {# <div class="flex flex-col w-full lg:w-7/12">
            <div id="dashboard-sales-map" class="flex flex-col flex-grow p-8 gap-y-8">
                <p class="text-sm uppercase text-pale-blue font-bold">Sales Rep Map</p>
                <div id="sales-map-dash">
                    {{ map_content|raw }}
                </div>
            </div>
        </div> #}
    </div>
</section>
<script src="/wp-content/themes/gws-web/views/woo/js/filter-start.js" defer></script>
{% endblock %}