{% extends "base.twig" %}

{% block content %}

<section id="distributor-search-header" class="page-header bg-black">
    <div class="md:container mx-auto flex flex-col justify-center ps-10 hero-background" style="background: url('{{post.thumbnail.src}}'); background-repeat: no-repeat; background-size: cover; background-color: rgba(0,0,0,.3); background-blend-mode: overlay;">
        <h1 class="text-3xl md:text-7xl uppercase font-black text-white">{{post.title}}</h1>
        <p class="text-2xl mb-6">Use the map to find your GWS sales representative or search for your region below.</p>
        <div class="flex gap-x-4 w-5/12">
            <a href="tel:18774978665" class="btn dark-blue w-full text-center">Call GWS</a>
            <a href="mailto:sales@gwstoolgroup.com" class="btn light-blue w-full text-center">Email GWS</a>
        </div>
    </div>
</section>

<section class="py-52">

    <div class="md:container">
        <div class="hidden md:block w-10/12">
            {{post.content}}
        </div>
        
    </div>
    
    <div class="md:container mx-auto mt-20">
        <div class="w-10/12 mx-auto">
            <div class="flex flex-col">
                <h3 class="text-3xl text-pale-blue font-semibold uppercase">Midwest Region</h3>
                <div class="w-full flex flex-col md:flex-row mt-10 mb-16 flex-wrap gap-y-6">
                    {% for member in post.meta('midwest') %}
                        <div class="w-full md:w-6/12 xl:w-3/12 px-4">
                            <img src="{{member.image.url}}" alt="" class="max-w-[150px] mb-3">
                                <p class="text-white text-xl font-semibold underline">{{member.name}}</p>
                                <p class="text-white italic mb-2">{{member.title}}</p>
                                <p class="text-white">{{member.states}}</p>
                                <p class="text-white text-sm"><a href="mailto:{{member.email}}">{{member.email}}</a></p>
                                {% if user %}<p class="text-white text-sm"><a href="tel:{{member.phone_number}}">{{member.phone_number}}</a></p>{% endif %}
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="flex flex-col">
                <h3 class="text-3xl text-pale-blue font-semibold uppercase">Northeast Region</h3>
                <div class="w-full flex flex-col md:flex-row mt-10 mb-16 flex-wrap gap-y-6">
                    {% for member in post.meta('northeast') %}
                        <div class="w-full md:w-6/12 xl:w-3/12 px-4">
                            <img src="{{member.image.url}}" alt="" class="max-w-[150px] mb-3">
                                <p class="text-white text-xl font-semibold underline">{{member.name}}</p>
                                <p class="text-white italic mb-2">{{member.title}}</p>
                                <p class="text-white">{{member.states}}</p>
                                <p class="text-white text-sm"><a href="mailto:{{member.email}}">{{member.email}}</a></p>
                                {% if user %}<p class="text-white text-sm"><a href="tel:{{member.phone_number}}">{{member.phone_number}}</a></p>{% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex flex-col">
                <h3 class="text-3xl text-pale-blue font-semibold uppercase">Southeast Region</h3>
                <div class="w-full flex flex-col md:flex-row mt-10 mb-16 flex-wrap gap-y-6">
                    {% for member in post.meta('southeast') %}
                        <div class="w-full md:w-6/12 xl:w-3/12 px-4">
                            <img src="{{member.image.url}}" alt="" class="max-w-[150px] mb-3">
                                <p class="text-white text-xl font-semibold underline">{{member.name}}</p>
                                <p class="text-white italic mb-2">{{member.title}}</p>
                                <p class="text-white">{{member.states}}</p>
                                <p class="text-white text-sm"><a href="mailto:{{member.email}}">{{member.email}}</a></p>
                                {% if user %}<p class="text-white text-sm"><a href="tel:{{member.phone_number}}">{{member.phone_number}}</a></p>{% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex flex-col">
                <h3 class="text-3xl text-pale-blue font-semibold uppercase">West Region</h3>
                <div class="w-full flex flex-col md:flex-row mt-10 mb-16 flex-wrap gap-y-6">
                    {% for member in post.meta('west') %}
                        <div class="w-full md:w-6/12 xl:w-3/12 px-4">
                            <img src="{{member.image.url}}" alt="" class="max-w-[150px] mb-3">
                                <p class="text-white text-xl font-semibold underline">{{member.name}}</p>
                                <p class="text-white italic mb-2">{{member.title}}</p>
                                <p class="text-white">{{member.states}}</p>
                                <p class="text-white text-sm"><a href="mailto:{{member.email}}">{{member.email}}</a></p>
                                {% if user %}<p class="text-white text-sm"><a href="tel:{{member.phone_number}}">{{member.phone_number}}</a></p>{% endif %} 
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>   
    </div>

</section>

<section>
    <div class="bg-diagonal">{% include "./templates/perfect-tool-two.php" %}</div>
</section>


{% endblock %}