{% extends "base.twig" %}

{% block content %}

<section class="page-header bg-black px-4">
    <div class="md:container mx-auto flex flex-col justify-center px-4 md:px-10 hero-background animate__animated animate__fadeInDown" style="background: url('{{post.thumbnail}}'); background-size: cover; background-position: center;">
        <h1 class="text-4xl md:text-7xl font-black text-white uppercase">{{post.title}}</h1>
        <h3>The latest news and more from GWS</h3>
    </div>
</section>


<section id="gws-blog-content" class="container mx-auto px-4 pb-20 mt-40">

    <div id="featured-blog" class="w-full">
        <div>

        </div>
    </div>

    <div id="blog-roll">
        <div class="flex flex-wrap justify-center md:justify-start gap-x-8 mb-10 category-filters filter-buttons">
            <button class="is-checked" data-filter="all">All</button>
            <button class="" data-filter="press-releases">News</button>
            <button class="" data-filter="employee-spotlight">Employee Spotlights</button>
            <button class="" data-filter="manufacturing-101">Manufacturing 101</button>
            <button class="" data-filter="case-study">Case Studies</button>
        </div>
        <div class="blogs-container tiles-grid flex container mx-auto">
            
            {% for post in posts %}
            
            {% set category_name = post.category()|lower|replace({' ': '-'}) %}
                <div class="grid-item {{category_name}} flex items-center">
                    <div class="blog-card flex flex-col mb-16 basic-shadow hvr-float">
                        <div class="blog-card-img">
                            <div class="blog-card-img" style="background-image: url('{{post.thumbnail}}'); background-position: top; background-size: cover; background-color: rgba(0,0,0,.5); background-blend-mode: darken;"><p class="blog-category text-pale-blue font-bold">{{post.category}}</p></div>
                        </div>
                        <div class="blog-card-content flex flex-col justify-between flex-1 p-4">
                            <div>
                                <p class="text-black font-extrabold blog-title mt-3">{{post.title|custom_excerpt(10)}}</p>
                                {% if category_name == 'case-study' %}
                                    <p class="text-black text-sm blog-excerpt my-3">{{post.meta('cs_excerpt')|custom_excerpt(20)}}</p>
                                {% endif %}
                                <p class="text-black text-sm blog-excerpt my-3">{{ post.content|custom_excerpt(20) }}</p>
                            </div>
                            <a class="text-sm text-dark-blue font-semibold self-end flex items-center" href="{{post.link}}"><span class="me-2">Read More</span><i class="fa-solid fa-arrow-right rotate-45"></i></a>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
        </div>
        
    </div>

</section>



<section>
	<div class="bg-diagonal">
    	{% include "./templates/perfect-tool-two.php" %}
	</div>
</section>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="/wp-content/themes/gws-web/blog.js" defer></script>
{% endblock %}