{% if is_product_page %}
    {% set tableCols = attributes['pa_data-fields'][0]|split(',') %}
    {% set series = product.get_attribute('pa_series') %}
    {% set toolType = product.get_attribute('pa_tool-type') %}
{% else %}
    {# Series pages #}
    {% set tableCols = series_data.data_fields|split(',') %}
    {% set series = series_data.series %}
    {% set toolType = series_data.tool_type %}
{% endif %}

<table id="product-table" 
       class="stripe row-border cell-border hover {{toolType}} {{series}}{% if not is_product_page %} dark{% endif %}"
       data-series="{{series}}"
       data-table-cols="{{tableCols|join(',')}}">
    <thead>
        <tr>
            <th>Part</th>      
            {% for col in tableCols %}
                <th class="{{col}}">{{col}}</th>
            {% endfor %}
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <!-- DataTables will populate via AJAX -->
    </tbody>
</table>