{# {% extends "base.twig" %}

{% block content %}

<section id="industries-header" class="flex h-full min-h-[80vh] md:min-h-[70vh] lg:min-h-[80vh]">
    <div class="flex flex-col lg:flex-row w-full">
       

        <div class="w-full lg:w-4/12 bg-black lg:h-full relative">
            <div id="industry-title" class="absolute inset-0 flex flex-col justify-center min-w-[75vw]">
                <h2 class="text-2xl md:text-4xl lg:text-5xl xl:text-6xl text-white uppercase font-semibold">GWS Industries</h2>
                <h1 class="text-4xl md:text-5xl lg:text-8xl xl:text-9xl text-pale-blue uppercase font-black break-words px-4 lg:px-0">
                    <span class="inline">{{post.meta('industry_name')}}</span>
                    <a href="#industries-content" class="inline-block">
                        <i class="fas fa-arrow-down-long text-pale-blue text-4xl lg:text-6xl"></i>
                    </a>
                </h1>   
            </div> 
        </div>



        <div class="w-full lg:w-8/12 h-5/6 lg:h-full bg-cover bg-no-repeat bg-center" style="background-image: url('{{ post.meta('header_image').url}}'); background-color: rgba(0,0,0,.5); background-blend-mode: darken;"></div>
    </div>
</section>

<section id="industries-content" class="lg:py-20 px-4">
    <div class="md:container mx-auto flex flex-col gap-y-8 xl:flex-row justify-between">
        <div class="w-full xl:w-6/12">
            <div class="post-content">
                {{post.content}}
            </div>
            <div class="flex flex-col md:flex-row gap-y-6 gap-x-10 mt-10">
                <button class="btn dark-blue"><a href="/tool-filter" class="text-2xl">Standard Tools</a></button>
                <button class="btn dark-blue"><a href="/custom-quote" class="text-2xl">Custom Tools</a></button>
            </div>
        </div>
        <div class="w-full xl:w-6/12">
            <div class="w-8/12 mx-auto flex flex-col gap-y-6">  
                {% for item in post.meta('industry_images') %}
                    <img src="{{item.content_image.url}}" alt="" class="w-full h-auto">
                {% endfor %}
            </div>
            <div class="xl:w-10/12 h-full mx-auto bg-cover bg-no-repeat bg-center" style="background-image: url('{{ post.meta('content_image').url}}'); background-color: rgba(0,0,0,.5); background-blend-mode: darken; height:500px;"></div>
        </div>
    </div>
    
    

</section>



{% endblock %} #}

{% extends "base.twig" %}

{% block content %}

<section class="page-header bg-black px-4">
    
    {% if post.thumbnail is not null %}
        {% set headerImage = post.thumbnail %}
    {% else %}
        {% set headerImage = "/wp-content/uploads/2024/01/milling_menu.jpg" %}     
    {% endif %}
    
    <div class="container mx-auto flex flex-col justify-center px-4 md:px-10 hero-background animate__animated animate__fadeInDown" style="background: url('{{headerImage}}'); background-size: cover; background-position: center;">
        <h2 class="text-xl font-semibold text-white capitalize mb-2">Industry</h2>
        <h1 class="text-4xl md:text-7xl font-black text-pale-blue uppercase">{{post.title}}</h1>
    </div>
</section>

<section class="py-36">

    <div class="container mx-auto flex flex-col gap-y-20">
    
        <div id="subtypesIntro" class="w-full flex flex-col mb-6">
            <div class="text-xl font-light container">
                <div class="flex justify-between">
                    <div class="lg:w-7/12">{{post.content}}</div>
                    <div class="lg:w-4/12 flex flex-col gap-y-8">
                        {% for item in post.meta('industry_images') %}
                            <img src="{{item.content_image.url}}" alt="" class="w-full h-auto">
                        {% endfor %}
                    </div>
                </div>
               
            </div>
        </div>
        <div class="flex flex-col lg:flex-row flex-wrap gap-y-16">
            <div id="subtypesFeatures" class="lg:w-6/12 flex flex-col px-2 group">
                <div class="bg-black bg-light-blue h-full shadow-xl rounded">
                    <div class="w-10/12 mx-auto pt-16 pb-10 relative">
                        <h2 class="inline-flex absolute -top-6 py-4 px-6 bg-dark-gray bg-light-blue text-2xl border-2 border-black shadow-xl font-semibold">GWS Tooling Solutions</h2>
                        <div class="flex flex-col gap-y-6">
                            <ul>
                            {% for item in post.meta('features') %}
                                <li><i class="fa-solid fa-plus me-3 text-white"></i>{{item.feature}}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="subtypesApplications" class="lg:w-6/12 flex flex-col px-2 group">
                <div class="bg-black bg-light-blue h-full shadow-xl rounded">
                    <div class="w-10/12 mx-auto pt-16 pb-10 relative">
                        <h2 class="inline-flex absolute -top-6 py-4 px-6 bg-dark-gray bg-light-blue text-2xl border-2 border-black shadow-xl font-semibold">Supported Applications</h2>
                        <div class="flex flex-col gap-y-6">
                        {% for item in post.meta('applications') %}
                            <p><i class="fa-solid fa-plus me-3 text-white"></i>{{item.application}}</p>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="subtypesWhy" class="w-full flex flex-col group">
                <div class="bg-black h-full shadow-xl rounded">
                    <div class="w-11/12 mx-auto pt-16 pb-10 relative">
                        <h2 class="inline-flex absolute -top-6 py-4 px-6 bg-dark-gray text-2xl border-2 border-black shadow-xl font-semibold">Why GWS?</h2>
                        <div class="flex flex-col gap-y-6">
                        {% for item in post.meta('why_choose_gws') %}
                            <p><i class="fa-solid fa-plus me-3 text-white"></i>{{item.why}}</p>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% set mediaItems = post.meta('media') %}
            {% if mediaItems is not empty %}
            
                <div id="subtypesSlider" class="w-full flex flex-col relative py-10">
                    <div class="w-full border-black border-2 shadow-inner relative px-10 py-20">
                        <h2 class="inline-flex absolute -top-6 py-4 px-6 bg-dark-gray text-2xl border-2 border-black shadow-xl font-semibold z-10">Resources</h2>
                        <!-- Slider main container -->
                        <div class="subtypesSwiper overflow-x-hidden">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper flex">
                                
                                
                                    {% for item in mediaItems %}
                                        <!-- Slides -->
                                        <div class="swiper-slide flex flex-col w-3/12 px-2">
                                            <div class="relative shadow-lg w-11/12 ps-8 pb-10 min-h-[300px] rounded flex flex-col justify-end" style="background-image:url('{{item.image.url}}'); background-position: center; background-size:cover; background-color: rgba(34,34,34,.4); background-blend-mode:darken;">
                                                <a href="{{item.link}}" class="absolute h-full w-full top-0" target="_blank"></a>
                                                <div>
                                                    <p class="text-pale-blue font-medium text-xl">{{item.title}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                        
                            </div>
                        
                           
                            {# Navigation buttons #}
                            <div class="swiper-controls flex gap-x-6">
                                <i class="text-4xl font-bold text-pale-blue fa-solid fa-arrow-left-long prevEl"></i>
                                <i class="text-4xl font-bold text-pale-blue fa-solid fa-arrow-right-long nextEl"></i>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            
            {% endif %}
      
        </div>
    </div>
</section>

<section>
	<div class="bg-diagonal">
    	{% include "./templates/perfect-tool-two.php" %}
	</div>
</section>

{# <section id="series">

    <div class="container py-20">
        <h2 class="text-4xl font-bold">{{post.title}} Series</h2>
        <div class="my-10">
           {% set releatedSeries = post.meta('related_series') %}
        </div>
    
    </div>

</section> #}

<script src="/wp-content/themes/gws-web/swiper.js"></script>

{% endblock %}